numpy
matplotlib
pandas
scikit-learn
scikit-image
pacmap
ipywidgets
torch 
torchvision
torchmetrics
humanfriendly
distinctipy
opencv-python
bm3d
bm4d
#matlabengine==25.2.2  % needs special treatment for installing on the cluster: to be continued.
hyperspy[all]
transformers
jax
tensorstore
git+https://github.com/google-research/sofima
connectomics
pysptools
seaborn
ipympl
nodejs-bin
parampacmap
phate
sparse   # possibly needed at Habrok